body{
    margin: 0;
    padding: 0;
    color: aliceblue;
    background-color: black;
}

#cabecalho h1{
    text-align: center;
    color: rgb(62, 49, 110);
    background-color: aqua;
}

li{
    list-style: none;
    text-align: right;
    margin-right: 490px;
}

img{
    width: 300px;
    height: 200px;
    margin: 15px;
}
#sporte{
    display: flex;
}
.unico{
    text-align: center;
    color: gold;
}
.esporte{
    background-color: brown;
}
.esporte a{
    border: solid 2px;
    background-color: aliceblue;
    color: red;
}
#economiaa{
    display: flex;
    background-color: rgb(143, 37, 120);
}
.economia a{
    color: black;
    border: solid 1px;
    background-color: blue;
}
.entretenimento a{
    color: aliceblue;
    border: solid 1px;
    background-color: brown;
}
#entretem{
    display: flex;
    background-color: red;
}
.tech a{
    color: chartreuse;
    border: solid 1px yellow;
    background-color: aliceblue;
}
#tecnologia{
    display: flex;
    background-color: gold;
}
#botao{
    background-color: aliceblue;
}
h5{
    color:red;
    margin-left: 35px;
}
a{
    text-decoration: none;
}

a:hover{
    color: pink;
    border-radius: 12px;
}
